* {
  box-sizing: border-box;
}

.app-hLanding-background {
  backdrop-filter: brightness(50%);
}

.main-hLanding-page {
  width: 100%;
}

.hLanding-page-top-container {
  font-size: 2em;
  font-weight: 700;
  color: white;
  height: 10em;
  display: flex;
  flex-direction: row;
  padding-top: 3em;
  align-items: flex-start;
  justify-content: center;
}

.hLanding-page-second-container {
  border-radius: 4em 4em 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 2em 7em;
  height: fit-content;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

.explore-top-hLanding {
  padding: 6em 4em 2em 4em;
}

.hLanding-main-container-first-row-col {
  padding-left: 0.4em;
  font-size: 2em;
  font-weight: 300;
}

.hLanding-main-container-second-row-col {
  padding-top: 2em;
}

.location-cards {
  height: 22em;
  position: relative;
  border: none !important;
  border-radius: 0.7em;
}

.host-hotel-cards {
  height: 15em;
  position: relative;
  border: none !important;
  border-radius: 0.7em;
}

.location-card-image {
  position: absolute;
  height: 100%;
  object-fit: cover;
  filter: brightness(90%);
  border-radius: 0.6em;
}

.location-card-body {
  position: absolute;
  /* height: 100%; */
  bottom: 0;
  z-index: 999;
  border-radius: 0.6em;
  overflow: hidden;
}

.location-card-title {
  font-size: 1.2em;
  background-color: rgba(0, 10, 10, 1);
  padding: 0.1em 0.5em;
  border-radius: 0.6em;
  word-wrap: break-word;
  width: fit-content;
}

.location-card-title-city {
  font-size: 0.9em;
  background-color: rgba(0, 10, 10, 1);
  padding: 0.1em 0.5em;
  border-radius: 0.6em;
  word-wrap: break-word;
  width: fit-content;
}

.add-hotel-form-div {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 3em 6em;
}

.location-main-container-third-row-col {
  padding-top: 3em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 0.8em;
}

.explore-location-link {
  text-decoration: none;
  padding: 0.1em 0.5em 0.3em 0.5em;
  border-radius: 0.9em;
  background-image: linear-gradient(
    to right,
    rgb(245, 238, 238),
    rgb(0, 206, 192)
  );
  color: black;
  filter: brightness(70%);
  font-weight: 500;
}

.landing-page-video-div {
  background-image: url("../../shared-resource/images/landing_middle_video_1.jpg");
  height: 50em;
  object-fit: contain;
  background-size: 100% 100%;
  position: relative;
}

.landing-page-video-container {
  position: relative;
  height: 100%;
  backdrop-filter: brightness(45%);
  padding: 0 7em;
}

.landing-video-text-top {
  /* border: 2px solid white; */
  padding-top: 9em;
  padding-left: 5em;
  padding-bottom: 1em;
}

.landing-video-text-top-col {
  color: white;
  font-size: 3em;
  font-weight: 700;
  line-height: 1em;
}

.landing-video-text-middle {
  padding-left: 5em;
  padding-bottom: 3em;
}

.landing-video-text-middle-col {
  color: rgb(218, 195, 195);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-weight: 500;
  word-spacing: 0.1em;
  letter-spacing: 0.01em;
  /* filter: contrast(60%); */
}

.landing-video-text-middle-col .video-link-text {
  color: white;
  text-decoration: none;
  margin-right: 1.2em;
  border: 3px solid white;
  padding: 0.2em 0.6em;
  padding-bottom: 0.4em;
  border-radius: 50%;
  color: white;
}

.landing-video-text-third {
  padding-left: 5em;
  padding-bottom: 1em;
}

.landing-video-text-third-col-A {
  color: rgb(218, 195, 195);
  font-size: 0.85em;
  line-height: 1.3em;
  padding-top: 0;
  font-weight: 500;
  word-break: normal;
  word-wrap: break-word;
  padding-right: 10em;
}

.landing-video-text-third-col-B {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.landing-video-card {
  width: 13em;
  margin-right: 3em;
  height: 7em;
  position: relative;
  border: none;
}

.landing-video {
  position: absolute;
  object-fit: contain;
  height: 100%;
  filter: brightness(100%);
  width: 100%;
  padding: 0;
}

.search-from-main {
  padding-bottom: 0.1em;
}

.search-label {
  font-weight: 300;
  font-size: 1.3em;
}

.input-location-box {
  border: none;
  background: transparent;
  border-bottom: 2px solid white;
  color: white;
  border-radius: 0;
  font-size: 1em;
  padding: 0.5em 0.2em;
}

.input-location-box:focus,
.input-location-box:active {
  background: transparent;
  color: white;
  outline: none !important;
  box-shadow: none;
}
.location-input-text {
  background: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  border-radius: 0;
}

.location-date-group {
  display: flex;
  flex-direction: row;
}

.location-date-pick-class {
  border: none;
  background: transparent;
  border-bottom: 2px solid white;
  color: white;
  outline-width: 0;
  border-radius: 0;
  font-size: 1em;
  padding: 0.5em 0.2em;
}

.location-date-pick-class:focus,
.location-date-pick-class:active {
  background: transparent;
  color: white;
  outline: none !important;
  box-shadow: none;
  border-radius: 0;
}

.search-button-location,
.search-button-location:hover,
.search-button-location:focus,
.search-button-location:active {
  background: none;
  border: 0;
  outline: none !important;
  box-shadow: none !important;
  font-weight: 500;
  font-size: 1.2em;
}

.search-button-location:hover {
  background: none;
  border: none;
}

.booking-host-card {
  height: max-content;
}

.booking-card-lines {
  background-color: white;
  color: black;
  border-radius: 3px;
}
