* {
  box-sizing: border-box;
}

.aboutus-background {
  backdrop-filter: brightness(50%);
}

.main-aboutus-page {
  width: 100%;
}

.aboutus-page-top-container {
  font-size: 2em;
  font-weight: 700;
  color: white;
  height: 8em;
  display: flex;
  flex-direction: row;
  padding-top: 3em;
  align-items: flex-start;
  justify-content: center;
}

.aboutus-page-second-container {
  border-radius: 4em 4em 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 2em 7em;
  height: fit-content;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

.explore-top-location-aboutus {
  padding: 2em 4em 2em 4em;
}

.location-main-container-first-row-col {
  padding-left: 0.4em;
  font-size: 2em;
  font-weight: 300;
}

.location-main-container-second-row-col {
  padding-top: 2em;
}

.first-image-class {
  /* position: absolute; */
  /* object-fit: contain; */
  height: 200px;
  width: auto;
}

.card-backgeound {
  background: transparent !important;
  border: none;
}
.carousel-image-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.achievements-carousel {
  height: 200px;
  width: 400px !important;
  justify-content: center;
  text-align: center;
}
