* {
  box-sizing: border-box;
}

.app-background {
  backdrop-filter: brightness(50%);
}

.main-landing-page {
  width: 100%;
}

.landing-page-top-container {
  font-size: 2em;
  font-weight: 700;
  color: white;
  height: 10em;
  display: flex;
  flex-direction: row;
  padding-top: 3em;
  align-items: flex-start;
  justify-content: center;
}

.landing-first-div {
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  /* height: 55em; */
  background-color: rgba(2, 17, 20, 0.7);
  border-radius: 4em 4em 0 0;
  /* height: max-content; */
  /* display: none; */
}

.landing-page-second-container {
  /* position: absolute; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 2em 7em;
  height: max-content !important;
  color: white;
}

.search-bar-landing {
  width: 100%;
  height: 8em;
  border-radius: 2em;
  background-color: rgba(41, 57, 59);
  margin-top: -6em;
  position: relative;
}

@media screen and (max-width: 992px) {
  .search-bar-landing {
    height: 25em;
  }
}

@media screen and (max-width: 541px) {
  .search-bar-landing {
    height: 28em;
  }
}

/* @media screen and (max-width: 993px) {
  .landing-first-div {
    height: 75em;
  }
}

@media screen and (max-width: 767px) {
  .landing-first-div {
    height: 185em;
  }
} */

@media screen and (max-width: 767px) {
  .landing-page-second-container {
    padding: 2em 0em;
  }
}

.search-landing-row {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em 3em;
  height: max-content;
}

@media screen and (max-width: 767px) {
  .search-landing-row {
    padding: 1em 0em;
  }
}

.under-search-landing {
  padding: 1em 6em 1em 6em;
  color: white;
  font-size: 0.8em;
  line-height: 1.5em;
}

.explore-top-location {
  padding: 2em 4em 2em 4em;
  height: fit-content;
  min-height: 40em;
}

.location-main-container-first-row-col {
  padding-left: 0.4em;
  font-size: 2em;
  font-weight: 300;
}

.location-main-container-second-row-col {
  padding-top: 2em;
}

.location-cards {
  height: 22em;
  position: relative;
  border: none !important;
  border-radius: 0.7em;
}

.location-card-image {
  position: absolute;
  height: 100%;
  object-fit: cover;
  filter: brightness(90%);
  border-radius: 0.6em;
}

.location-card-body {
  position: absolute;
  bottom: 0;
  z-index: 999;
  border-radius: 0.6em;
  overflow: hidden;
}

.location-card-title {
  font-size: 1.2em;
  background-color: rgba(0, 10, 10, 1);
  padding: 0.1em 0.5em;
  border-radius: 0.6em;
  word-wrap: break-word;
}

.location-main-container-third-row-col {
  padding-top: 3em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 0.8em;
}

.explore-location-link {
  text-decoration: none;
  padding: 0.1em 0.5em 0.3em 0.5em;
  border-radius: 0.9em;
  background-image: linear-gradient(
    to right,
    rgb(245, 238, 238),
    rgb(0, 206, 192)
  );
  color: black;
  filter: brightness(70%);
  font-weight: 500;
}

.landing-page-video-div-cust {
  background-image: url("../shared-resource/images/landing_middle_video_1.jpg");
  object-fit: contain;
  background-size: 100% 100%;
}

.landing-page-video-container-cust {
  backdrop-filter: brightness(45%);
  padding: 0 7em;
}

@media screen and (max-width: 992px) {
  .landing-page-video-container-cust {
    padding: 0em;
  }
}

.landing-video-text-top {
  padding-top: 9em;
  padding-left: 5em;
  padding-bottom: 1em;
}

.landing-video-text-top-col {
  color: white;
  font-size: 3em;
  font-weight: 700;
  line-height: 1em;
}

.landing-video-text-middle {
  padding-left: 5em;
  padding-bottom: 3em;
}

.landing-video-text-middle-col {
  color: rgb(218, 195, 195);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-weight: 500;
  word-spacing: 0.1em;
  letter-spacing: 0.01em;
}

.landing-video-text-middle-col .video-link-text {
  color: white;
  text-decoration: none;
  margin-right: 1.2em;
  border: 3px solid white;
  padding: 0.2em 0.6em;
  padding-bottom: 0.4em;
  border-radius: 50%;
  color: white;
}

.landing-video-text-third {
  padding-left: 5em;
  padding-bottom: 1em;
}

.landing-video-text-third-col-A {
  color: rgb(218, 195, 195);
  font-size: 0.85em;
  line-height: 1.3em;
  padding-top: 0;
  font-weight: 500;
  word-break: normal;
  word-wrap: break-word;
  padding-right: 10em;
}

.landing-video-text-third-col-B {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.landing-video-card {
  width: 13em;
  margin-right: 3em;
  height: 7em;
  position: relative;
  border: none;
}

.landing-video {
  position: absolute;
  object-fit: contain;
  height: 100%;
  filter: brightness(100%);
  width: 100%;
  padding: 0;
}

.search-from-main {
  padding-bottom: 0.1em;
}

.search-label {
  font-weight: 300;
  font-size: 1.3em;
}

.input-location-box {
  border: none;
  background: transparent;
  border-bottom: 2px solid white;
  color: white;
  border-radius: 0;
  font-size: 1em;
  padding: 0.5em 0.2em;
}

.input-location-box:focus,
.input-location-box:active {
  background: transparent;
  color: white;
  outline: none !important;
  box-shadow: none;
}
.location-input-text {
  background: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  border-radius: 0;
}

.location-date-group {
  display: flex;
  flex-direction: row;
}

.location-date-pick-class {
  border: none;
  background: transparent;
  border-bottom: 2px solid white;
  color: white;
  outline-width: 0;
  border-radius: 0;
  font-size: 1em;
  padding: 0.5em 0.2em;
}

.location-date-pick-class:focus,
.location-date-pick-class:active {
  background: transparent;
  color: white;
  outline: none !important;
  box-shadow: none;
  border-radius: 0;
}

.search-button-location {
  background: none;
  border: 0;
  outline: none !important;
  box-shadow: none !important;
  font-weight: 500;
  font-size: 1.2em;
}

.search-button-location:hover,
.search-button-location:focus,
.search-button-location:active {
  box-shadow: ivory !important;
  font-weight: 500;
  font-size: 1.2em;
  color: rgb(139, 136, 136) !important;
}
